<div ng-controller="EventNewController as eventNewCrt">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Create New Event</h1>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 col-sm-offset-1">
				<div id='div-error' 
				class="alert alert-danger" 
				ng-init="eventNewCrt.showError = false" 
				ng-show="eventNewCrt.showError">
					<span>
						{{eventNewCrt.errorMessage}}
					</span>
				</div>				
				<nav class="row">
					<ul class="nav nav-tabs nav-justified">
						<li role="presentation" 
						ng-class="{active: eventNewCrt.eventMainInformation}">
							<a href="#" 
							ng-click="eventNewCrt.preventEvent($event); eventNewCrt.eventMainInformation = true; eventNewCrt.eventLocationandHost = eventNewCrt.eventGuestsListandMessages = false;">
							Event Main Information
							</a>
						</li>
						<li  role="presentation"						
						ng-class="{active: eventNewCrt.eventLocationandHost}">
							<a href="#" 
							ng-click="eventNewCrt.preventEvent($event); eventNewCrt.eventLocationandHost = true; eventNewCrt.eventMainInformation = eventNewCrt.eventGuestsListandMessages = false;">
							Event Location and Host
							</a>
						</li>
						<li  role="presentation"
						ng-class="{active: eventNewCrt.eventGuestsListandMessages}">
							<a href="#" 
							ng-click="eventNewCrt.preventEvent($event); eventNewCrt.eventGuestsListandMessages = true; eventNewCrt.eventLocationandHost = eventNewCrt.eventMainInformation = false;">
							Guest List and Message
							</a>
						</li>
					</ul>
				</nav>
				<div class="row well well-sm" 
				ng-init="eventNewCrt.eventMainInformation = true" 
				ng-show="eventNewCrt.eventMainInformation">
					<div class="col-sm-6">
						<div class="form-group has-feedback"
						ng-class="{'has-success': eventNewCrt.eventNameClassSuccess, 'has-error' : eventNewCrt.eventNameClassError}">
							<label for="event_name">
							Event Name 
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Please enter event name">
							</i>
							</label>
							<input type="text" 
							id="event_name" 
							name="eventName"
							autocomplete="eventName" 
							class="form-control"
							placeholder="Imagine cup"
							autofocus
							required
							ng-keyup ="eventNewCrt.eventNameClassSuccess = generalForm.eventName.$valid; eventNewCrt.eventNameClassError = generalForm.eventName.$invalid"
							ng-model="eventNewCrt.eventName"
							aria-describedby="inputEventNameStatus">
							<span class="glyphicon form-control-feedback"
							ng-class="{'glyphicon-ok': eventNewCrt.eventNameClassSuccess, 'glyphicon-remove': eventNewCrt.eventNameClassError }" 
							aria-hidden="true">
							</span>
							<span id="inputEventNameStatus" class="sr-only"
							ng-bind="generalForm.eventName.$valid ? eventNewCrt.srResultEventName = '(success)': eventNewCrt.srResultEventName = '(error)'">({{eventNewCrt.srResultEventName}})</span>
						</div>	
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="event_type">
							Event Type
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Please enter event type">
							</i>
							</label>
							<input list="eventTypeList" 
							id="event_type" 
							name="eventType"
							autocomplete="eventType"
							class="form-control"							
							placeholder="birthday party, conference talk, wedding, etc."
							required
							ng-model="eventNewCrt.eventType">
							<datalist id="eventTypeList">
								<option value="Birthday party">
								<option value="Conference talk">
								<option value="wedding">
							</datalist>
						</div>	
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label for="event_startDate">
								Event Start
							</label>
							<input type="text" 
							id="event_startDate" 
							name="eventStartDate"
							class="form-control"
							required
							ng-model="eventNewCrt.eventStartDate">
						</div>	
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label for="event_startHour">
								Hour
							</label>
							<input type="number" 
							id="event_startHour" 
							name="eventStartHour"
							class="form-control"
							required
							ng-model="eventNewCrt.eventStartHour"
							min="0"
							max="23">
						</div>	
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label for="event_startMinute">
								Minute
							</label>
							<input type="number" 
							id="event_startMinute" 
							name="eventStartMinute"
							class="form-control"
							required
							ng-model="eventNewCrt.eventStartMinute"
							min="0"
							max="59">
						</div>	
					</div>
					<div class="col-sm-2">
						<div class="form-group">							
							<label for="event_endtDate">
							Event End
							</label>
							<input type="text" 
							min="{{eventNewCrt.eventStartDate}}"
							id="event_endtDate" 
							name="eventEndtDate"
							class="form-control"
							required
							ng-model="eventNewCrt.eventEndtDate">
						</div>	
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label for="event_EndHour">
								Hour
							</label>
							<input type="number" 
							id="event_EndHour" 
							name="eventEndHour"
							class="form-control"
							required
							ng-model="eventNewCrt.eventEndHour"
							min="0"
							max="23">
						</div>	
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label for="event_EndMinute">
								Minute
							</label>
							<input type="number" 
							id="event_EndMinute" 
							name="eventEndMinute"
							class="form-control"
							required
							ng-model="eventNewCrt.eventEndMinute"
							min="0"
							max="59">
						</div>	
					</div>
					<div class="col-sm-12">
						<a href="#" 
						ng-click="eventNewCrt.preventEvent($event);eventNewCrt.eventLocationandHost = true; eventNewCrt.eventMainInformation = eventNewCrt.eventGuestsListandMessages = false;" 
						class="btn btn-info btn-lg pull-right">
						next
						</a>
					</div>		
				</div>
				<div class="row well well-sm"
				ng-init="eventNewCrt.eventLocationandHost = false" 
				ng-show="eventNewCrt.eventLocationandHost">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="event_Location">
							Event Location
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Event Location">
							</i>
							</label>
							<input type="text"
							id="event_Location" 
							name="eventLocation"
							autocomplete="eventLocation" 
							class="form-control"
							placeholder="Lebanon, Beirut"
							required
							ng-model="eventNewCrt.eventLocation"
							>
						</div>	
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="street_number">
								Street Number
							</label>
							<input type="text"
							id="street_number" 
							name="streetnumber"
							autocomplete="streetnumber" 
							class="form-control"
							placeholder="75"
							required
							ng-model="eventNewCrt.street_number">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="route">
								Street Name
							</label>
							<input type="text"
							id="route" 
							name="route"
							autocomplete="route" 
							class="form-control"
							placeholder="Nicolas Chorier"
							required
							ng-model="eventNewCrt.route">
						</div>	
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="locality">
								City
							</label>
							<input type="text"
							id="locality" 
							name="locality"
							autocomplete="locality" 
							class="form-control"
							placeholder="Grenoble"
							required
							ng-model="eventNewCrt.locality">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="administrative_area_level_1">
								State
							</label>
							<input type="text"
							id="administrative_area_level_1" 
							name="State"
							autocomplete="State" 
							class="form-control"
							placeholder="Grenoble"
							required
							ng-model="eventNewCrt.State">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="postal_code">
								Postal code
							</label>
							<input type="text"
							id="postal_code" 
							name="postal_code"
							autocomplete="postal_code" 
							class="form-control"
							placeholder="38000"
							required
							ng-model="eventNewCrt.postal_code">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="country">
								country
							</label>
							<input type="text"
							id="country" 
							name="country"
							autocomplete="country" 
							class="form-control"
							placeholder="France"
							required
							ng-model="eventNewCrt.country">
						</div>
					</div>
					<div class="col-sm-8">
						<label for="event_Host">
							Event host								
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Event host">
							</i>
						</label>
						<input list="eventHostList"
						id="event_Host" 
						name="eventHost"
						autocomplete="eventHost" 
						class="form-control"
						placeholder="could be an individual’s name or an organization"
						required
						ng-model="eventNewCrt.eventHost"
						ng-focus='eventNewCrt.getListOfHosts()'>
						<datalist id="eventHostList">
						</datalist>
					</div>
					<div class="col-sm-12">
						<a href="#" 
						ng-click="eventNewCrt.preventEvent($event);eventNewCrt.eventMainInformation = true; eventNewCrt.eventLocationandHost = eventNewCrt.eventGuestsListandMessages = false;" 
						class="btn btn-info btn-lg pull-left">
						previous
						</a>
						<a href="#" 
						ng-click="eventNewCrt.preventEvent($event);eventNewCrt.eventGuestsListandMessages = true; eventNewCrt.eventLocationandHost = eventNewCrt.eventMainInformation = false;" 
						class="btn btn-info btn-lg pull-right">
						next
						</a>
					</div>
				</div>
				<div class="row well well-sm"				
				ng-init="eventNewCrt.eventGuestsListandMessages = false" 
				ng-show="eventNewCrt.eventGuestsListandMessages">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="event_guestEmail">
							Guest Email															
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Guest Email">
							</i>
							</label>
							<div class="row">
								<div class="col-sm-8">
									<input type="email"
									id="event_guestEmail" 
									name="email"
									autocomplete="email" 
									class="form-control"
									placeholder="yourfriend@example.com"
									required
									ng-model="eventNewCrt.guestEmail"
									>
								</div>
								<div class="col-sm-2">
									<a href="#" 
									ng-click="eventNewCrt.addNewguest(); eventNewCrt.preventEvent($event)"  
									class="btn btn-default"
									ng-disabled="generalForm.email.$invalid">Add to List</a>
								</div>
								<div class="col-sm-2">
									<a href="#" id="listOfUsers" ng-click="eventNewCrt.preventEvent($event)" class="btn btn-info"  data-toggle="modal" data-target="#myModal">
									choose from list
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="listgroup">
								<a href="#" ng-click="eventNewCrt.preventEvent($event)" 
								ng-repeat="guest in eventNewCrt.Guests" 
								class="list-group-item"
								ng-show="guest.isInvited">
									<div class="row">
										<div class="col-sm-1">
											<img src="/images/Default_user_icon.png" class="img-responsive img-rounded" alt="Defalt user image">
										</div>
										<div class="col-sm-7">
											{{guest.useremail}}
										</div>
										<div class="col-sm-1 col-sm-offset-3">
											<button type="button" 
											ng-click="eventNewCrt.removeguest(guest); eventNewCrt.preventEvent($event)" 
											ValidatorEnable="false"  
											class="close" 
											data-dismiss="modal">&times;</button>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<!-- Modal -->
					<div id="myModal" class="modal fade " role="dialog">
						<div class="modal-dialog modal-lg">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" ng-click="eventNewCrt.preventEvent($event)" ValidatorEnable="false"  class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Choose Friend from List</h4>
								</div>
								<div class="modal-body">
									<div class="list-group">
										<a href="#"  
										class="list-group-item" 
										ng-repeat="inivitedGuest in eventNewCrt.listOfAvailableMembers"
										ng-class="{active: inivitedGuest.isInvited}"
										ng-click="inivitedGuest.isInvited= !inivitedGuest.isInvited; eventNewCrt.toogleActive(inivitedGuest) ;eventNewCrt.preventEvent($event)">
											<div class="row">
												<div class="col-sm-1">
													<img src="/images/Default_user_icon.png" class="img-responsive img-rounded" alt="Defalt user image">
												</div>
												<div class="col-sm-7">
													{{inivitedGuest.useremail}}
												</div>
												<div class="col-sm-4">

												</div>
											</div>
										</a>															
									</div>
								</div>
								<div class="modal-footer">
									<button type="button"
									class="btn btn-default" 
									data-dismiss="modal">
									Done
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row well well-sm"
				ng-init="eventNewCrt.eventGuestsListandMessages = false" 
				ng-show="eventNewCrt.eventGuestsListandMessages">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="event_optionalMessage">
							Your Message														
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Your Message">
							</i>							
							</label>
							<textarea id="event_optionalMessage"
							rows="2"
							name="optionalMessage" 
							class="form-control" 							
							ng-model="regCrt.event_optionalMessage">								
							</textarea>
						</div>
					</div>
					<div class="col-sm-12">
						<a href="#" 
						ng-click="eventNewCrt.preventEvent($event);eventNewCrt.eventLocationandHost = true; eventNewCrt.eventMainInformation = eventNewCrt.eventGuestsListandMessages = false;"
						class="btn btn-info btn-lg pull-left">
						previous
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row ">
				<div class="col-sm-2 pull-right">
					<input type="submit" 
					class="btn btn-lg btn-default" 
					value="Create Event"
					ng-init="eventNewCrt.validateNewEventForm = true"
					ng-disabled="eventNewCrt.validateNewEventForm"
					>
				</div>
			</div>
		</div>
	</div>
</div>
<script 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS1EF2hXm_4AllBuUh7RZtod8li9X9k6g&signed_in=true&libraries=places&callback=initAutocomplete" 
async defer>
</script>
<script src="/javascript/main.js"></script>