<div ng-controller="EventNewController as eventNewCrt">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Create New Event</h1>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 col-sm-offset-1">
				<div id='div-error' 
				class="alert alert-danger" 
				ng-init="eventNewCrt.showError = false" 
				ng-show="eventNewCrt.showError">
					<span>
						{{eventNewCrt.errorMessage}}
					</span>
				</div>				
				<nav class="row">
					<ul class="nav nav-tabs nav-justified">
						<li role="presentation" 
						ng-class="{active: eventNewCrt.eventMainInformation}">
							<a href="#" 
							ng-click="eventNewCrt.preventEvent($event); eventNewCrt.eventMainInformation = true; eventNewCrt.eventLocationandHost = eventNewCrt.eventGuestsListandMessages = false;">
							Event Main Information
							</a>
						</li>
						<li  role="presentation"						
						ng-class="{active: eventNewCrt.eventLocationandHost}">
							<a href="#" 
							ng-click="eventNewCrt.preventEvent($event); eventNewCrt.eventLocationandHost = true; eventNewCrt.eventMainInformation = eventNewCrt.eventGuestsListandMessages = false;">
							Event Location and Host
							</a>
						</li>
						<li  role="presentation"
						ng-class="{active: eventNewCrt.eventGuestsListandMessages}">
							<a href="#" 
							ng-click="eventNewCrt.preventEvent($event); eventNewCrt.eventGuestsListandMessages = true; eventNewCrt.eventLocationandHost = eventNewCrt.eventMainInformation = false;">
							Guest List and Message
							</a>
						</li>
					</ul>
				</nav>
				<div class="row well well-sm" 
				ng-init="eventNewCrt.eventMainInformation = true" 
				ng-show="eventNewCrt.eventMainInformation">
					<div class="col-sm-6">
						<div class="form-group has-feedback"
						ng-class="{'has-success': eventNewCrt.eventNameClassSuccess, 'has-error' : eventNewCrt.eventNameClassError}">
							<label for="event_name">
							Event Name 
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Please enter event name">
							</i>
							</label>
							<input type="text" 
							id="event_name" 
							name="eventName"
							autocomplete="eventName" 
							class="form-control"
							placeholder="Imagine cup"
							autofocus
							required
							ng-model="eventNewCrt.eventName"
							ng-change="eventNewCrt.validationProcess()"
							ng-keyup ="eventNewCrt.eventNameClassSuccess = generalForm.eventName.$valid; eventNewCrt.eventNameClassError = generalForm.eventName.$invalid"
							ng-blur ="eventNewCrt.eventNameClassSuccess = generalForm.eventName.$valid; eventNewCrt.eventNameClassError = generalForm.eventName.$invalid"
							aria-describedby="inputEventNameStatus">
							<span class="glyphicon glyphicon-asterisk form-control-feedback"
							ng-class="{'glyphicon-ok': eventNewCrt.eventNameClassSuccess, 'glyphicon-remove': eventNewCrt.eventNameClassError }" 
							aria-hidden="true">
							</span>
							<span id="inputEventNameStatus" class="sr-only"
							ng-bind="generalForm.eventName.$valid ? eventNewCrt.srResultEventName = '(success)': eventNewCrt.srResultEventName = '(error)'">({{eventNewCrt.srResultEventName}})</span>
						</div>	
					</div>
					<div class="col-sm-6">
						<div class="form-group has-feedback"
						ng-class="{'has-success': eventNewCrt.eventTypeClassSuccess, 'has-error' : eventNewCrt.eventTypeClassError}">
							<label for="event_type">
							Event Type
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Please enter event type">
							</i>
							</label>
							<input list="eventTypeList" 
							id="event_type" 
							name="eventType"
							autocomplete="eventType"
							class="form-control"							
							placeholder="birthday party, conference talk, wedding, etc."
							required
							ng-model="eventNewCrt.eventType"
							ng-change="eventNewCrt.validationProcess()"
							ng-keyup ="eventNewCrt.eventTypeClassSuccess = generalForm.eventType.$valid; eventNewCrt.eventTypeClassError = generalForm.eventType.$invalid"
							ng-blur ="eventNewCrt.eventTypeClassSuccess = generalForm.eventType.$valid; eventNewCrt.eventTypeClassError = generalForm.eventType.$invalid"
							aria-describedby="inputEventTypeStatus">
							<datalist id="eventTypeList">
								<option value="Birthday party">
								<option value="Conference talk">
								<option value="wedding">
							</datalist>
							<span class="glyphicon glyphicon-asterisk form-control-feedback"
							ng-class="{'glyphicon-ok': eventNewCrt.eventTypeClassSuccess, 'glyphicon-remove': eventNewCrt.eventTypeClassError }" 
							aria-hidden="true">
							</span>
							<span id="inputEventTypeStatus" class="sr-only"
							ng-bind="generalForm.eventType.$valid ? eventNewCrt.srResultEventType = '(success)': eventNewCrt.srResultEventType = '(error)'">({{eventNewCrt.srResultEventType}})</span>
						</div>	
					</div>
					<div class="col-sm-6">
						<div class="form-group has-feedback"
						ng-class="{'has-success': eventNewCrt.eventStartDateClassSuccess, 'has-error' : eventNewCrt.eventstartDateClassError}">
							<label for="event_startDate">
								Event Start
							</label>
							<input type="datetime-local" 
							id="event_startDate" 
							name="eventStartDate"
							class="form-control"
							min="{{eventNewCrt.nowDate}}"
							required
							ng-model="eventNewCrt.eventStartDate"
							ng-change="eventNewCrt.validationProcess()"
							ng-keyup ="eventNewCrt.eventStartDateClassSuccess = generalForm.eventStartDate.$valid; eventNewCrt.eventstartDateClassError = generalForm.eventStartDate.$invalid"
							ng-blur ="eventNewCrt.eventStartDateClassSuccess = generalForm.eventStartDate.$valid; eventNewCrt.eventstartDateClassError = generalForm.eventStartDate.$invalid"
							aria-describedby="inputEventtartDateStatus">
							<span class="glyphicon glyphicon-asterisk form-control-feedback"
							ng-class="{'glyphicon-ok': eventNewCrt.eventStartDateClassSuccess, 'glyphicon-remove': eventNewCrt.eventstartDateClassError }" 
							aria-hidden="true">
							</span>
							<span id="inputEventtartDateStatus" class="sr-only"
							ng-bind="generalForm.eventStartDate.$valid ? eventNewCrt.srResultEventstartDate = '(success)': eventNewCrt.srResultEventstartDate = '(error)'">({{eventNewCrt.srResultEventstartDate}})</span>
						</div>	
					</div>
					<div class="col-sm-6">
						<div class="form-group has-feedback"
						ng-class="{'has-success': eventNewCrt.eventEndtDateClassSuccess, 'has-error' : eventNewCrt.eventEndtDateClassError}">							
							<label for="event_endtDate">
							Event End
							</label>
							<input type="datetime-local" 
							min="{{eventNewCrt.eventStartDate}}"
							id="event_endtDate" 
							name="eventEndtDate"
							class="form-control"
							required
							ng-model="eventNewCrt.eventEndtDate"
							ng-change="eventNewCrt.validationProcess()"
							ng-keyup ="eventNewCrt.eventEndtDateClassSuccess = generalForm.eventEndtDate.$valid; eventNewCrt.eventEndtDateClassError = generalForm.eventEndtDate.$invalid"
							ng-blur ="eventNewCrt.eventEndtDateClassSuccess = generalForm.eventEndtDate.$valid; eventNewCrt.eventEndtDateClassError = generalForm.eventEndtDate.$invalid"
							aria-describedby="inputEventEndtDateStatus">
							<span class="glyphicon glyphicon-asterisk form-control-feedback"
							ng-class="{'glyphicon-ok': eventNewCrt.eventEndtDateClassSuccess, 'glyphicon-remove': eventNewCrt.eventEndtDateClassError }" 
							aria-hidden="true">
							</span>
							<span id="inputEventEndtDateStatus" class="sr-only"
							ng-bind="generalForm.eventEndtDate.$valid ? eventNewCrt.srResultEventEndtDate = '(success)': eventNewCrt.srResultEventEndtDate = '(error)'">({{eventNewCrt.srResultEventEndtDate}})</span>
						</div>	
					</div>
					<div class="col-sm-12">
						<a href="#" 
						ng-click="eventNewCrt.preventEvent($event);eventNewCrt.eventLocationandHost = true; eventNewCrt.eventMainInformation = eventNewCrt.eventGuestsListandMessages = false;" 
						class="btn btn-info btn-lg pull-right">
						next
						</a>
					</div>		
				</div>
				<div class="row well well-sm"
				ng-init="eventNewCrt.eventLocationandHost = false" 
				ng-show="eventNewCrt.eventLocationandHost">
					<div class="col-sm-4">
						<div class="form-group has-feedback"
						ng-class="{'has-success': eventNewCrt.eventLocationClassSuccess, 'has-error' : eventNewCrt.eventLocationClassError}">
							<label for="event_Location">
							Event Location
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Event Location">
							</i>
							</label>
							<input type="text"
							id="event_Location" 
							name="eventLocation"
							autocomplete="eventLocation" 
							class="form-control"
							placeholder="Lebanon, Beirut"
							required
							ng-model="eventNewCrt.eventLocation"
							ng-change="eventNewCrt.validationProcess()"
							ng-keyup ="eventNewCrt.eventLocationClassSuccess = generalForm.eventLocation.$valid; eventNewCrt.eventLocationClassError = generalForm.eventLocation.$invalid"
							ng-blur="eventNewCrt.eventLocationClassSuccess = generalForm.eventLocation.$valid; eventNewCrt.eventLocationClassError = generalForm.eventLocation.$invalid"
							aria-describedby="inputEventLocationStatus">
							<span class="glyphicon glyphicon-asterisk form-control-feedback"
							ng-class="{'glyphicon-ok': eventNewCrt.eventLocationClassSuccess, 'glyphicon-remove': eventNewCrt.eventLocationClassError }" 
							aria-hidden="true">
							</span>
							<span id="inputEventLocationStatus" class="sr-only"
							ng-bind="generalForm.eventLocation.$valid ? eventNewCrt.srResultEventLocation = '(success)': eventNewCrt.srResultEventLocation = '(error)'">({{eventNewCrt.srResultEventLocation}})</span>
						</div>	
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="street_number">
								Street Number
							</label>
							<input type="text"
							id="street_number" 
							name="streetnumber"
							autocomplete="streetnumber" 
							class="form-control"
							placeholder="75"
							ng-model="eventNewCrt.street_number">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="route">
								Street Name
							</label>
							<input type="text"
							id="route" 
							name="route"
							autocomplete="route" 
							class="form-control"
							placeholder="Nicolas Chorier"
							ng-model="eventNewCrt.route">
						</div>	
					</div>
					<div class="col-sm-4" ng-show="false">
						<div class="form-group">
							<label for="locality">
								City
							</label>
							<input type="text"
							id="locality" 
							name="locality"
							autocomplete="locality" 
							class="form-control"
							placeholder="Grenoble"
							ng-model="eventNewCrt.locality">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="administrative_area_level_1">
								State
							</label>
							<input type="text"
							id="administrative_area_level_1" 
							name="State"
							autocomplete="State" 
							class="form-control"
							placeholder="Grenoble"
							ng-model="eventNewCrt.State"
							ng-change="eventNewCrt.validationProcess()">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="postal_code">
								Postal code
							</label>
							<input type="text"
							id="postal_code" 
							name="postal_code"
							autocomplete="postal_code" 
							class="form-control"
							placeholder="38000"
							ng-model="eventNewCrt.postal_code">
						</div>
					</div>
					<div class="col-sm-4" ng-show="false">
						<div class="form-group">
							<label for="country">
								country
							</label>
							<input type="text"
							id="country" 
							name="country"
							autocomplete="country" 
							class="form-control"
							placeholder="France"
							ng-model="eventNewCrt.country"
							ng-change="eventNewCrt.validationProcess()">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group has-feedback"
						ng-class="{'has-success': eventNewCrt.eventHostClassSuccess, 'has-error' : eventNewCrt.eventHostClassError}">
							<label for="event_Host">
								Event host								
								<i class="glyphicon glyphicon-info-sign"
								data-toggle="tooltip"
								data-placement="top" 
								title="Event host">
								</i>
							</label>
							<input list="eventHostList"
							id="event_Host" 
							name="eventHost"
							autocomplete="eventHost" 
							class="form-control"
							placeholder="could be an individual’s name or an organization"
							required
							ng-model="eventNewCrt.eventHost"
							ng-focus="eventNewCrt.getListOfHosts()"
							ng-change="eventNewCrt.validationProcess()"
							aria-describedby="inputEventHost"
							ng-keyup ="eventNewCrt.eventHostClassSuccess = generalForm.eventHost.$valid; eventNewCrt.eventHostClassError = generalForm.eventHost.$invalid"
							ng-blur = "eventNewCrt.eventHostClassSuccess = generalForm.eventHost.$valid; eventNewCrt.eventHostClassError = generalForm.eventHost.$invalid">
							<datalist id="eventHostList">
							</datalist>
							<span class="glyphicon glyphicon-asterisk form-control-feedback"
							ng-class="{'glyphicon-ok': eventNewCrt.eventHostClassSuccess, 'glyphicon-remove': eventNewCrt.eventHostClassError }" 
							aria-hidden="true">
							</span>
							<span id="inputEventHost" class="sr-only"
							ng-bind="generalForm.eventHost.$valid ? eventNewCrt.srResultEventHost = '(success)': eventNewCrt.srResultEventHost = '(error)'">({{eventNewCrt.srResultEventHost}})</span>
						</div>
					</div>
					<div class="col-sm-12">
						<a href="#" 
						ng-click="eventNewCrt.preventEvent($event);eventNewCrt.eventMainInformation = true; eventNewCrt.eventLocationandHost = eventNewCrt.eventGuestsListandMessages = false;" 
						class="btn btn-info btn-lg pull-left">
						previous
						</a>
						<a href="#" 
						ng-click="eventNewCrt.preventEvent($event);eventNewCrt.eventGuestsListandMessages = true; eventNewCrt.eventLocationandHost = eventNewCrt.eventMainInformation = false;" 
						class="btn btn-info btn-lg pull-right">
						next
						</a>
					</div>
				</div>
				<div class="row well well-sm"				
				ng-init="eventNewCrt.eventGuestsListandMessages = false" 
				ng-show="eventNewCrt.eventGuestsListandMessages">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="event_guestEmail">
							Guest Email															
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Guest Email">
							</i>
							</label>
							<div class="row">
								<div class="col-sm-8">
									<input type="email"
									id="event_guestEmail" 
									name="email"
									autocomplete="email" 
									class="form-control"
									placeholder="yourfriend@example.com"
									ng-model="eventNewCrt.guestEmail"
									ng-change="eventNewCrt.checkGuestEmail()">
								</div>
								<div class="col-sm-2">
									<button type="button"  
									ng-click="eventNewCrt.addNewguest(); eventNewCrt.preventEvent($event)"  
									class="btn btn-default"
									ng-init="eventNewCrt.noValidEmail = true"
									ng-disabled="eventNewCrt.noValidEmail">Add to List</button>
								</div>
								<div class="col-sm-2">
									<button type="button" id="listOfUsers" ng-click="eventNewCrt.preventEvent($event)" class="btn btn-info"  data-toggle="modal"  ng-disabled="eventNewCrt.noUsers" data-target="#myModal">
									choose from list
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="listgroup">
								<a href="#" ng-click="eventNewCrt.preventEvent($event)" 
								ng-repeat="guest in eventNewCrt.Guests" 
								class="list-group-item"
								ng-show="guest.isInvited">
									<div class="row">
										<div class="col-sm-8">
											{{guest.useremail}}
										</div>
										<div class="col-sm-1 col-sm-offset-3">
											<button type="button" 
											ng-click="eventNewCrt.removeguest(guest); eventNewCrt.preventEvent($event)" 
											ValidatorEnable="false"  
											class="close" 
											data-dismiss="modal">&times;</button>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<!-- Modal -->
					<div id="myModal" class="modal fade " role="dialog">
						<div class="modal-dialog modal-lg">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" ng-click="eventNewCrt.preventEvent($event)" ValidatorEnable="false"  class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Choose Friend from List</h4>
								</div>
								<div class="modal-body">
									<div class="list-group">
										<a href="#"  
										class="list-group-item" 
										ng-repeat="inivitedGuest in eventNewCrt.listOfAvailableMembers"
										ng-class="{active: inivitedGuest.isInvited}"
										ng-click="inivitedGuest.isInvited= !inivitedGuest.isInvited; eventNewCrt.toogleActive(inivitedGuest) ;eventNewCrt.preventEvent($event)">
											<div class="row">
												<div class="col-sm-7 ">
													{{inivitedGuest.useremail}}
												</div>
												<div class="col-sm-4">

												</div>
											</div>
										</a>															
									</div>
								</div>
								<div class="modal-footer">
									<button type="button"
									class="btn btn-default" 
									data-dismiss="modal">
									Done
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row well well-sm"
				ng-init="eventNewCrt.eventGuestsListandMessages = false" 
				ng-show="eventNewCrt.eventGuestsListandMessages">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="event_optionalMessage">
							Your Message														
							<i class="glyphicon glyphicon-info-sign"
							data-toggle="tooltip"
							data-placement="top" 
							title="Your Message">
							</i>							
							</label>
							<textarea id="event_optionalMessage"
							rows="2"
							name="optionalMessage" 
							class="form-control" 							
							ng-model="eventNewCrt.event_optionalMessage">								
							</textarea>
						</div>
					</div>
					<div class="col-sm-12">
						<a href="#" 
						ng-click="eventNewCrt.preventEvent($event);eventNewCrt.eventLocationandHost = true; eventNewCrt.eventMainInformation = eventNewCrt.eventGuestsListandMessages = false;"
						class="btn btn-info btn-lg pull-left">
						previous
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row ">
				<div class="col-sm-2 pull-right">
					<input type="submit" 
					class="btn btn-lg btn-default" 
					value="Create Event"
					ng-init="eventNewCrt.validateNewEventForm = true"
					ng-disabled="eventNewCrt.validateNewEventForm"
					ng-click="eventNewCrt.addNewEvent()">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	checkTooltip();
</script>
<script 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS1EF2hXm_4AllBuUh7RZtod8li9X9k6g&signed_in=true&libraries=places&callback=initAutocomplete" async defer>
</script>