#listOfErrors, #listOfEmailErrors {
	position: absolute;
	z-index: 100;
}
.progress{
	height: 5px;
}
.glyphicon-info-sign{
	cursor:help;
}

.glyphicon-asterisk {
  color:#a94442;
}
.panel-heading.view-feature:hover{
	background-color:#a94442;
}